/* Navbar Styles Go here */
h2{
  text-align: center;
}
.nav-ul{
  padding:15px;
  border-top: 2px solid;
  border-bottom: 2px solid;
  text-align: center;

}

.nav-ul li{
  display: inline;
  margin:0px 15px;
  

}

/* Navbar Styles End */


/* Our Services Styles Start */


.ServicesTitle {
  text-align: center;
}
.iconp{
  text-align: center;
}

/* Our Services Styles End */

/* Footer Styles Go Here */

footer {
	background-color: #333333;
	padding-bottom: 40px;

}
footer ul {
	list-style: none;
	width: 1060px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
.FooterSocial{
  padding-top: 20px;
}
.FooterSocialItems {
	color: white;
	float: left;
	position: relative;
  	display: block;
  	padding: 10px 15px;
}

.footp {
padding-bottom: 0px;
}


/* Footer Styles End */